<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" th:href="@{/css/book-info.css}">
</head>
<body>

<h1>Book Information</h1>

<div class="book-info">
    <h2>Book Details</h2>
    <div class="book-details">
        <div>
            <strong>Title:</strong> <span th:text="${book.title}"></span>
        </div>
        <div>
            <strong>Genre:</strong> <span th:text="${book.genre}"></span>
        </div>
        <div>
            <strong>Year:</strong> <span th:text="${book.year}"></span>
        </div>
        <div>
            <strong>Languages:</strong> <span th:text="${book.language}"></span>
        </div>
        <div>
            <strong>Author:</strong> <span th:text="${book.author.name}"></span>
        </div>
    </div>
</div>


<footer>
    <nav class="links">
        <a href="/authors" class="link">Back to Authors List</a>
        <a href="/books" class="link">Back to Books List</a>
    </nav>
</footer>

</body>
</html>
